.root{
    -fx-background-color: rgb(0, 100, 148);
}

.button{
    -fx-background-color: rgb(0, 166, 251);
    -fx-text-fill: rgb(5, 25, 35);
}

.button:hover{
    -fx-background-color: rgb(5, 130, 202);
}

.label{
    -fx-text-fill: rgb(5, 25, 35);
}

.pagination{
    -fx-background-color:transparent;
    -fx-font-size: 26px;
    -fx-text-fill: rgb(5, 25, 35)
}

.pagination .pager-button{
    -fx-background-color:rgb(0, 166, 251);
    -fx-font-size: 19px;
    -fx-text-fill: rgb(5, 25, 35)
}

.pagination .control-button{
    -fx-background-color: rgb(0, 166, 251);
    -fx-text-fill: rgb(5, 25, 35)
}

.pagination .control-current-page{
    -fx-background-color:rgb(5, 130, 202);
}

.list-cell{
    -fx-background-color:rgb(110, 199, 243);
    -fx-text-fill: rgb(5, 25, 35);
}
.dialog-pane{
    -fx-text-fill: rgb(5, 25, 35);
    -fx-font-size: 20px;
}
.dialog-pane .header-panel{
    -fx-background-color: rgb(2, 72, 104);
    -fx-text-fill: rgb(5, 25, 35);
}